<!DOCTYPE html>
<html>
<head>
  <title>MAINTAIN PAGE</title>
</head>
<body>
  <header>
    <h2>現在は開発中でございます。</h2>
  </header>
  <footer>
    <p>Copyright by Mai Thanh 2018</p>
  </footer>


</body>
</html>
